<div class="sidebar">
    <div class="sidebarContent">
        <a class="sidebarItem" href="/home"><i class="fa-solid fa-house"> </i></a>
        <a class="sidebarItem" href="/about" style="padding-left: 17px;"><i class="fa-solid fa-address-book"></i></a>
        <a class="sidebarItem" href="/contact" style="padding-left: 19px;"><i class="fa-solid fa-file-lines"></i></a>
        <a class="sidebarItem" href="/projects" style="padding-left: 11px;"><i class="fa-solid fa-laptop-code"></i></a>
    </div>
    <div class="borderAnimation">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- <div class="tooltips">
        <div class="tooltip1"> Lorem ipsum dolor sit amet. </div>
        <div class="tooltip2"> Lorem ipsum dolor sit amet.</div>
        <div class="tooltip3"> Lorem ipsum dolor sit amet.</div>
        <div class="tooltip4"> Lorem ipsum dolor sit amet.</div>
    </div> -->
</div>